# documentation should not be published to npm!
docs

# test output
test
coverage

# development files
.cache
.github
.gutctags
.ignore
.jsdocrc.json
.parcel-cache
.travis.yml
Makefile
eslint.config.mjs
tags
